<div style="width: 300px; float: left;" ng-controller="ObjectTreeController">
  <treecontrol class="tree-classic" tree-model="objectTreeModel">
    {{node.name}}
    <button ng-click="add($event, node)">Add</button>
  </treecontrol>
</div>

<div style="margin-left: 300px;">
  <input type="text" ng-model="search" class="search-query" placeholder="Search">
  <table class="objects" ng-controller="TableController">
    <thead>
    <th>Title</th>
    <th>Value</th>
    <th><a ng-click="add()"><i class="icon-plus-sign"></i></a></th>
    </thead>
    <tbody>
      <tr ng-repeat="item in items | filter:search | orderBy:'title'">
        <td>{{item.node ? item.node.name : ''}}</td>
        <td class="value">{{item.value}}</td>
      </tr>
    </tbody>
  </table>
</div>